name: Desplegar Firebase Functions

on:
  push:
    branches:
      - main
    paths:
      - 'functions/**'
      - '.github/workflows/deploy.yml'
      - 'firebase.json'

jobs:
  deploy_functions:
    runs-on: ubuntu-latest # 1. Servidor Limpio

    steps:
      # 2. Trae tu código
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      # 3. Configura Node 22 (¡SIN CACHÉ!)
      - name: Configurar Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # 4. Instala el "camión" (firebase-tools)
      - name: Instalar Firebase Tools
        run: sudo npm install -g firebase-tools

      # 5. Instala los "ingredientes" (con yarn)
      #    Esto leerá el package.json V2 y creará un yarn.lock NUEVO y LIMPIO
      - name: Instalar dependencias de functions
        working-directory: ./functions
        run: yarn install

      # 6. Crear el archivo .env para el despliegue
      - name: Crear archivo .env
        working-directory: ./functions
        run: echo "DAILY_APIKEY=${{ secrets.DAILY_APIKEY }}" > .env.mi-app-coaching-1df37

      # 7. ¡El Despliegue Final!
      - name: Desplegar en Firebase
        run: |
          firebase deploy --only functions --token "${{ secrets.FIREBASE_SERVICE_ACCOUNT_MI_APP_COACHING_1DF37 }}"
